#if {
  width: 400px;
  margin: 0px;
  position: relative;
  top: 12px;
}

.if-box {
  background-color: black;
  margin-left: -14px;
  margin-bottom: -20px;
  width: 120%;
}

.annoying-white-text {
  color: white;
  font: Georgia, sans-serif;
  font-size: 10pt;
  position: relative;
  top: -225px;
  left: 300px;
}

.box-white {
  color: red;
  margin-top: 0px;
  width: 400px;
  position: relative;
  top: 30px;
}

.info {
  color: grey;
}

.moreinfo {
  margin-right: 250px;
}

.logo {
  width: 100px;
  position: relative;
  bottom: 30px;
  left: 620px;
}
